<launch>

    <!-- rosrun aruco_ros marker_publisher  /camera_info:=/custom_bot/camera_front/camera_info             -->
    <!--                                    /image:=/custom_bot/camera_front/image_raw _marker_size:=0.50  -->
    <!--                                    _marker_frame:=/aruco_frame _camera_frame:=/sensor_camera      -->
    <!--                                    _image_is_rectified:=false _reference_frame:=/base_link        -->


    <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker_publisher">
        <remap from="/camera_info" to="/custom_bot/camera_front/camera_info" />
        <remap from="/image" to="/custom_bot/camera_front/image_raw" />
        <param name="image_is_rectified" value="false"/>
        <param name="marker_size"        value="0.5"/>
        <param name="reference_frame"    value="/base_link"/>   <!-- frame in which the marker pose will be refered -->
        <param name="camera_frame"       value="/sensor_camera"/>
    </node>

</launch>

