<launch>
  <arg name="model" default="diff_drive_bot"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="rvizconfig" default="$(find custom_bot)/rviz/urdf.rviz"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find custom_bot)/worlds/Project_maze.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <!-- Convert the xacro and put on parameter server -->
  <!-- Run rosparam to inspect -->
  <param name="robot_description" command="$(find xacro)/xacro $(find custom_bot)/urdf/$(arg model).xacro" />

  <node name="custom_bot_spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model $(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />


<!--Publish state of robot via tf-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <!--<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!--Rviz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
