<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
 
  <!-- BEGIN ROBOT 0-->
  <group ns="robot0">
    <param name="tf_prefix" value="robot0_tf" />
    <include file="$(find random_walkers)/launch/one_robot.launch" >
      <arg name="x_pos" value="0" />
      <arg name="y_pos" value="2" />
      <arg name="z_pos" value="0" />
      <arg name="robot_name"  value="Robot0" />
    </include>
  </group>

  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find random_walkers)/launch/one_robot.launch" >
      <arg name="x_pos" value="0" />
      <arg name="y_pos" value="0" />
      <arg name="z_pos" value="0" />
      <arg name="robot_name"  value="Robot1" />
    </include>
  </group>
 
  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find random_walkers)/launch/one_robot.launch" >
      <arg name="x_pos" value="-1" />
      <arg name="y_pos" value="1" />
      <arg name="z_pos" value="0" />
      <arg name="robot_name"  value="Robot2" />
    </include>
  </group>

  <!-- BEGIN ROBOT 3-->
  <group ns="robot3">
    <param name="tf_prefix" value="robot3_tf" />
    <include file="$(find random_walkers)/launch/one_robot.launch" >
      <arg name="x_pos" value="0" />
      <arg name="y_pos" value="1" />
      <arg name="z_pos" value="0" />
      <arg name="robot_name"  value="Robot3" />
    </include>
  </group>

  <!-- BEGIN ROBOT 4-->
  <group ns="robot4">
    <param name="tf_prefix" value="robot4_tf" />
    <include file="$(find random_walkers)/launch/one_robot.launch" >
      <arg name="x_pos" value="1" />
      <arg name="y_pos" value="1" />
      <arg name="z_pos" value="0" />
      <arg name="robot_name"  value="Robot4" />
    </include>
  </group>

  <!-- BEGIN ROBOT 5-->
  <group ns="robot5">
    <param name="tf_prefix" value="robot5_tf" />
    <include file="$(find random_walkers)/launch/one_robot.launch" >
      <arg name="x_pos" value="-1" />
      <arg name="y_pos" value="0" />
      <arg name="z_pos" value="0" />
      <arg name="robot_name"  value="Robot5" />
    </include>
  </group>

  <!-- BEGIN ROBOT 6-->
  <group ns="robot6">
    <param name="tf_prefix" value="robot6_tf" />
    <include file="$(find random_walkers)/launch/one_robot.launch" >
      <arg name="x_pos" value="1" />
      <arg name="y_pos" value="0" />
      <arg name="z_pos" value="0" />
      <arg name="robot_name"  value="Robot6" />
    </include>
  </group>

  <!-- BEGIN ROBOT 7-->
  <group ns="robot7">
    <param name="tf_prefix" value="robot7_tf" />
    <include file="$(find random_walkers)/launch/one_robot.launch" >
      <arg name="x_pos" value="-1" />
      <arg name="y_pos" value="-1" />
      <arg name="z_pos" value="0" />
      <arg name="robot_name"  value="Robot7" />
    </include>
  </group>

  <!-- BEGIN ROBOT 8-->
  <group ns="robot8">
    <param name="tf_prefix" value="robot8_tf" />
    <include file="$(find random_walkers)/launch/one_robot.launch" >
      <arg name="x_pos" value="0" />
      <arg name="y_pos" value="-1" />
      <arg name="z_pos" value="0" />
      <arg name="robot_name"  value="Robot8" />
    </include>
  </group>

  <!-- BEGIN ROBOT 9-->
  <group ns="robot9">
    <param name="tf_prefix" value="robot9_tf" />
    <include file="$(find random_walkers)/launch/one_robot.launch" >
      <arg name="x_pos" value="1" />
      <arg name="y_pos" value="-1" />
      <arg name="z_pos" value="0" />
      <arg name="robot_name"  value="Robot9" />
    </include>
  </group>

</launch>
